#home{
	position: absolute;
	bottom: 10px;
	left: 10px;
	font-size: 2em;
	outline: none;
	background-color: lightblue;
  	width: 150px;
  	margin-right: 10px;
}

#new{
	position: absolute;
	bottom: 10px;
	left: 220px;
	font-size: 2em;
	outline: none;
	background-color: lightblue;
  	width: 250px;
}
